.datos {

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.gradosD {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.grados {
    color: #fff;
    font-size: 8rem;
    font-weight: 500;
    margin: 70px 0 60px 0;
}

.gradosC {
    color: rgb(201, 183, 183);
    font-size: 3.5rem;
    font-weight: 500;
    padding-top: 35px;
}

.estado {
    color: rgb(251, 248, 248);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 45px;
    text-align: center;
}

.h4 {
    margin: 8px;
    color: rgb(226, 213, 213);
    font-size: 1.15rem;
}

@media(max-width: 868px) {
    .grados {
        margin: 65px 0 55px 0;
    }
}