.datos {

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.gradosD {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.grados {
    color: #fff;
    font-size: 6rem;
    font-weight: 500;
    margin: 18px 0 45px 0;
}

.gradosC {
    color: rgb(201, 183, 183);
    font-size: 2.8rem;
    font-weight: 500;
    padding-top: 15px;
}

.estado {
    color: rgb(245, 235, 235);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 25px 0;
}

.h4 {
    margin: 8px;
    color: rgb(201, 183, 183);
}