.Flex {
    display: flex;
    margin-top: 15px;

}

.Buscador {
    font-size: 16px;
    border-radius: 10px;
    height: 30px;
    outline: none;
    width: 180px;
    border: 1px solid rgb(21, 21, 32);
}


.Boton {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noRes {
    font-size: 1.6rem;
    text-align: center;
}

.Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
}

@media(max-width: 868px) {
    .Buscador {
        width: 20em;
    }
}

@media(max-width: 440px) {
    .Buscador {
        width: 200px;
    }
}