.App {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.panel {
  background-color: rgb(24, 25, 48);
  height: auto;
  width: 35rem;
  min-width: 18.2rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  padding: 25px;
}

.panelIz {
  background-color: rgb(14, 14, 28);
  height: auto;
  width: auto;
  min-width: 25rem;
  padding: 28px 45px;
}

@media(max-width: 850px) {
  .App {
    display: flex;
    flex-wrap: wrap;
  }
}